<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Courses</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            {{#if isAuth}}
            {{#if isMain }}
            <li class="active"><a href="/">Main</a></li>
            {{else}}
            <li><a href="/">Main</a></li>
            {{/if}}
            {{#if isAdd}}
            <li class="active"><a href="/add">Add new course</a></li>
            {{else}}
            <li><a href="/add">Add new course</a></li>
            {{/if}}
            {{#if isBag}}
            <li class="active"><a href="/bag">Bag</a></li>
            {{else}}
            <li><a href="/bag">Bag</a></li>
            {{/if}}
            {{#if isOrders}}
            <li class="active"><a href="/orders">Orders</a></li>
            {{else}}
            <li><a href="/orders">Orders</a></li>
            {{/if}}
            {{#if isCourses }}
            <li class="active"><a href="/courses">Courses</a></li>
            {{else}}
            <li><a href="/courses">Courses</a></li>
            {{/if}}
            <li><a href="/auth/logout">Logout</a></li>
            {{else}}
            {{#if isCourses }}
            <li class="active"><a href="/courses">Courses</a></li>
            {{else}}
            <li><a href="/courses">Courses</a></li>
            {{/if}}
            {{#if isLogin}}
            <li class="active"><a href="/auth">login</a></li>
            {{else}}
            <li><a href="/auth">login</a></li>
            {{/if}}
            {{/if}}






        </ul>
    </div>
</nav>